/* board.css */
.board {
  width: 100%;
  height: 99%;
  overflow: auto;
  background-color: #f9fafb;
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 16px 16px;
  border-radius: 23px;
  border
    : 2px solid #e8e8e8;
}

.board-inner {
  min-width: max-content;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  gap: 48px;
}
